.populares__info
{
    border-bottom: solid 2px white;
    margin-top: 10px;
}

.populares__botao
{
    border: unset;
}

.populares__cabecalho
{
    display: flex;
    justify-content: space-between;
}

.populares__conteudo
{
    display: grid;
    grid-template-columns: repeat(5, auto);
    overflow: hidden;
    column-gap: 10px;
    margin: 15px 0px;
}

.populares__card___imagem
{
    max-width: 100%;
    max-height: 100%;
}

.populares__card___titulo
{
    font-size: 18pt;
}

.populares__card
{
    margin-bottom: 10px;
    background-color: white;
}

.populares__card___corpo
{
    padding: 10px;
}

.populares__card___descricao
{
    margin-top: 25px;
    text-align: justify;
}
  
.populares__card___data
{
  font-size: 10pt;
  color: darkgray;
}
